body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 600;
    box-sizing: border-box;
    /* background: conic-gradient(#62b6cb 55deg,#bee9e8 231deg,#62b6cb 180deg); */
     /* background-image: linear-gradient(to bottom right,transparent , #bee9e8 ),   */
    /* linear-gradient(to top left,transparent , #62b6cb );  */
    background-image: linear-gradient(to bottom right,transparent 50%,  #62b6cb 50%),  
    linear-gradient(to top left,transparent 50%, #bee9e8 55%);
}

#login-container {
    position: relative;
    width: 430px;
    height: 400px;
    border-radius: 16px;
    box-shadow: 0 6 20px rgba(0, 0, 0, 0.1); 
}
#login-container form{
    position: absolute;
    /* background: #5FA8D3; */
    /* background-image: linear-gradient(to bottom right,transparent , #bee9e8 ),  */
    /* linear-gradient(to top left,transparent , #62b6cb );  */
    background: transparent;
    backdrop-filter: blur(70000px);
    /* border: 1px solid white; */
    padding: 50px 100px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
}
#login-container form h2{
    text-align: center;
    color:white;
    font-weight: 500;   
    text-shadow: 0px 0px 10px whitesmoke,0px 0px 20px whitesmoke;
}
#login-container form .inputbox{
    position: relative;
    width:300px;    
    margin-top: 33px;
}
#login-container form .inputbox input{
    position: relative;
    padding: 20px 10px 10px 10px;
    background: transparent;
    border: none;
    color:white;
    outline:none;
    box-shadow: none;
    font-size: 5;
    transition: 0.5s;
}
#login-container form .inputbox span{
    position: absolute;
    left:0;
    padding:20px 10px 10px;
    pointer-events: none;
    color: whitesmoke;
    transition:0.5s;
}
#login-container form .inputbox  input:valid ~ span, #login-container form .inputbox  input:focus ~ span
{
    transform: translateY(-34px);
    color: whitesmoke;
}
#login-container form 
button{
    background-color: #5FA8D3;
    color: white;
    text-shadow: 0px 0px 10px whitesmoke;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    transition:0.5s;
}
.login-button{
    margin-top: 15px;
    text-align: right;
}
.login-button:hover{
    box-shadow: 0 6 20px rgba(0, 0, 0, 0.1);
}
a{
    text-decoration: none;
    color:black;
}